.notice-page{
  display:block;
  overflow-x:hidden;
}
.notice-page .notice-heading{
  display:flex;
  justify-content: center;
}
.notice-page .notices{
  display: flex;
}
button{
  color:white;
  height: 40px;
  width: 150px;
}

input{
  color:white;
  height: 40px;
  width: 200px;
}

